* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* position: fixed; */
}

.Content {
  width: 100vw;
  height: 100vh;
}

.Write, .Result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  color: #fff;
  font-size: 77px;
  font-weight: 700;
}

.Write {
  background: #177E89;
}

.inputWrite {
    border: 0;
    border-bottom: 1.5px solid #fff;
    outline: 0;
    font-size: 33px;
    text-align: center; 
    color: #fff;
    padding: 7px;
    background: transparent;
    border-radius: 0;
}

::-webkit-input-placeholder {
  color: #FFD2F5;
}

.Result {
  background: #FFC857;
}
