* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
}

.Content {
  width: 100vw;
  height: 100vh;
}

.Write, .Result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 40);
  color: #fff;
  font-size: 77px;
  font-weight: 700;
}

.Write {
  background: #177E89;
}

.Result {
  background: #FFC857;
}
